.admin {
  padding: 10px;
  header {
    min-height: 150px;
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    .admin-subject-1 {
      background-color: #ffffff;
      box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
      width: 23.5%;
      padding: 18px;
      box-sizing: border-box;
      i {
        font-size: 37px;
      }
      .admin-subject-show {
        padding-top: 6px;
        font-size: 30px;
      }
      button {
        color: #d2e3fe;
        background-color: #16499d;
        border: 1px solid #16499d;
        padding: 4px 7px;
      }
      button:hover {
        background-color: #123e85;
        color: #d2e3fe;
      }
    }
  }
}

i[class="el-icon-message"] {
  color: #67c23a;
}

i[class="el-icon-chat-dot-square"] {
  color: #409eff;
}

i[class="el-icon-s-data"] {
  color: lightcoral;
}

.admin-info-head {
  height: 40px;
  flex-shrink: 0;
}

.admin-info-body {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

.admin-info-body-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.admin-info-body-hello {
  width: 230px;
  padding-top: 40px;
  font-size: 1.5rem;
}

.admin-info-body-list {
  flex-grow: 1;
  padding: 60px 10px 10px 10px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.admin-info-body-item {
  font-size: 1.5rem;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.item {
  margin: 5px 0;
}

.chart-all {
  display: flex;
}

.admin-chart-pie {
  width: 350px;
  height: 310px;
  margin-right: 20px;
}

.admin-chart-bar {
  flex-grow: 1;
}
