/* 字体以及加载顺序是怎样的 */
*{
  font-family: Tahoma,Helvetica,"microsoft yahei","Hiragino Sans GB",Simsun,\5b8b\4f53,sans-serif;;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 300px;
}

/* 阿里图标 */
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

html,body{
  background-color: #f5f7fd;
  height:100%;
  padding:0px;
  margin:0px;
  /* overflow:auto; */
}

*{
  color:#4A4A4A;
}

a{
  text-decoration: none;
}

ul{
  padding:0;
  margin:0;
}