@font-face{
  font-family:"hanyi";
  src: url(./font/HYLiangPinXianJ.ttf)
}

/*不知道为什么明明在app.vue里面写了还是不行*/
h1,h2,h3,h4,h5,h6{
  font-family: "hanyi";
}

/*设置code的字体也为这个*/
code,span,button{
  font-family: "hanyi";
}

ul{
  list-style: none;
}

li{
  padding:5px;
}

li > span{
  cursor: pointer;
}

/*容器外观和背景颜色和圆角*/
.container{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.85);
}

/*字体悬浮颜色*/
.text-blue:hover{
  color:#3273dc
  
}

/*按钮*/
.main-button {
  border-radius: 4px;
  border: 1px solid white;
  letter-spacing: 3px;
  background: #409eff;
  color: white;
  cursor: pointer;
  outline: none;
}

/*代码圆角*/
/*由于一个元素一般只能设置一个::before，所以需要子元素的支持才能画三个圆，而且父元素需要相对定位，子元素再绝对定位
脱离文档流，这样就不会产生以外问题*/
pre{
  /*必须设置border才能设置border-radius?,设置边框完全不透明*/
  border:1px solid rgba(0, 0, 0, 0);
  border-radius: 7px;
  overflow: hidden;
  padding-top:30px;
  background: #21252b;
  position: relative;
  box-shadow: 0 0px 16px 0px rgba(0,0,0,.4);
}

pre::before{
  content: "";
  width:12px;
  height: 12px;
  background:#fc625d;
  border-radius: 50%;
  position: absolute;
  top:10px;
  left:10px;
  line-height: 12px;
}

pre::after{
  content: "";
  width:12px;
  height: 12px;
  background:#fdbc40;
  border-radius: 50%;
  position: absolute;
  line-height: 12px;
  top:10px;
  left:33px;
}

code::before{
  content: "";
  width:12px;
  height: 12px;
  background:#35cd4b;
  border-radius: 50%;
  position: absolute;
  line-height: 12px;
  top:10px;
  left:57px;
}
